@using PagedList.Mvc;
@using PagedList;
@using API.Models;
@{
    ViewBag.Title = "In Qr Code cho doanh nghiệp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    textarea {
        height: 67px;
    }
</style>
<h2>@ViewBag.Title</h2>
<!--SmartCheck.Vn là ứng dụng chống hàng giả, bạn có thể tải về trên các chợ ứng dụng, Mã s-->
<div id="CompanyQrCodeDialog" style="display:block;" class="col-md-12">    
    <div class="dDialogContent" style="min-height: 600px;">
        <p>Chọn Doanh Nghiệp</p>
        <input id="cp_company" value="@ViewBag.company" type="text" class="form-control" placeholder="Gõ tìm tên doanh nghiệp" onkeyup="searchCompanyName();">
        <p>Mã Doanh Nghiệp</p>
        <input id="cp_code_company" value="@ViewBag.code_company"  type="text" class="form-control" placeholder="Nhập mã" disabled>
        <p>Chọn nhà phân phối</p>
        @*<input id="cp_partner" value="@ViewBag.partner"  type="text" class="form-control" placeholder="Gõ tìm tên nhà phân phối" onkeyup="searchPartnerName();">*@
        <select id="cp_partner" class="form-control" data-live-search="true" onchange="setidpartner();"></select>
        <p>Mã nhà phân phối</p>
        <input id="cp_id_partner" value="@ViewBag.id_partner"  type="text" class="form-control" placeholder="Nhập mã" disabled>
        <p>In từ số thứ tự</p>
        <input id="cp_from" value="@ViewBag.ffrom"  type="text" class="form-control" placeholder="Nhập số thứ tự" onkeyup="autofillnumberfrom();">
        <p>Đến số thứ tự</i></p>
        <input id="cp_to" value="@ViewBag.tto"  type="text" class="form-control" placeholder="Đến số thứ tự" onkeyup="autofillnumberto();">
        <div class="divBtn">
            <button type="button" class="btn btn-primary" onclick="saveCompanyQrCode()">In Mã Qr Code</button>            
            <button type="button" class="btn btn-danger" onclick="exportCompanyQrCode()">Xuất ra file Excel</button>
            <button type="button" class="btn btn-primary" onclick="searchCompanyQrCode()">Tìm kiếm</button>
            <button type="button" class="btn btn-danger" onclick="cancelCompanyQrCode()">Hủy in Mã Qr Code</button>
            <button type="button" class="btn btn-primary" onclick="delCompanyQrCode()">Xóa in Mã Qr Code</button>
            <button type="button" class="btn btn-danger" onclick="updateCompanyQrCode()">Cập nhật lại nhà phân phối</button>
            <a  class="btn btn-danger" href="/Admin/CompanyQrCodeConfig">Cập nhật lại sản phẩm</a>
            <button type="button" class="btn btn-danger" onclick="updateWinning()">Cập nhật lại trúng thưởng</button>
        </div>
        @if (ViewBag.notice != null && ViewBag.notice != "")
        {
            <h4><i>Nhật Ký: @ViewBag.notice</i></h4>
        }
        <i style="color:red;">Lưu ý khi cập nhật nhà phân phối: Lưu ý: Ví dụ nếu đã có khối từ 500 đến 1000, ta chỉ có thể chia thành từ 500 đến < 1000 hoặc từ > 500 đến 1000 chứ không cắt ở giữa khối. Tức nếu chia 550 đến 775 là vi phạm sự liên tục</i>
    </div>
</div>
<div id="DialogImage" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Ảnh để quét</div>
    <div class="dDialogContent">
        <img src="" id="qrcodeload"/><br />
        <span id="qrcodeloadtext"></span>
    </div>
    <div class="divBtn">       
        <button type="button" class="btn btn-primary" onclick="$('#DialogImage').hide();">Thoát</button>
    </div>
</div>
<div id="DialogProduct" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Chọn sản phẩm</div>
    <div class="dDialogContent">
        <select id="sl_product"></select>
    </div>
    <div class="divBtn">
        <button type="button" class="btn btn-primary" onclick="confirmUpdateProduct();">Cập nhật sản phẩm cho khoảng SN này</button>
        <button type="button" class="btn btn-primary" onclick="$('#DialogProduct').hide();">Thoát</button>
    </div>
</div>
<div id="DialogWinning" style="display:none;" class="col-sm-4 dDialog">
    <div class="dTitle">Chọn trúng thưởng</div>
    <div class="dDialogContent">
        <select id="sl_winning"></select>
    </div>
    <div class="divBtn">
        <button type="button" class="btn btn-primary" onclick="confirmUpdateWinning();">Cập nhật trúng thưởng cho khoảng SN này</button>
        <button type="button" class="btn btn-primary" onclick="$('#DialogWinning').hide();">Thoát</button>
    </div>
</div>
<div id="DialogTextQrCode" style="display:none;top:20%;position:fixed;" class="col-sm-4 dDialog">
    <div class="dTitle">Cấu hình app thông báo</div>
    <div class="dDialogContent">
        <span id="TextQrCode"></span>
    </div>
    <div class="divBtn">
        <button type="button" class="btn btn-primary" onclick="$('#DialogTextQrCode').hide();">Thoát</button>
    </div>
</div>
<div class="panel-heading">
    <div class="form-inline" id="load">
        <h1>Danh Sách Qr Code Đã In</h1>
    </div>
</div>
<table class="table marginBottom0">
    <tr><th>Tên Doanh Nghiệp</th><th>Mã Công Ty</th><th>Sản phẩm</th><th>Guid</th><th>Số thứ tự</th><th>Nhà phân phối</th><th>Trạng thái</th><th></th><th></th></tr>
    @foreach (var item in (PagedList<qrcode>)ViewBag.OnePage)
    {
        int? id_app_config = item.id_config_app != null ? item.id_config_app : 0;
        <tr>
            <td>@item.company</td>
            <td>@item.code_company</td>
            <td><span onclick="getTextInQrCode(@id_app_config,@item.code_company);" style="cursor:pointer;">Xem cấu hình</span></td>
            <td>@item.guid</td>
            <td>
                @if (item.from_stt==item.to_stt)
                {
                <text>@item.stt</text>
                }else{
                <text>@item.from_stt đến @item.to_stt</text>
                }
            </td>
            <td>@item.partner</td>
            <td>
                @if (item.status==0)
                {
                    <text>Đã in</text>
                }
                else
                {
                    <text><span style="color:red;">Đã hủy</span></text>
                }
            </td>
            <td>
                @if (item.from_stt == item.to_stt)
                {
                    <a href="#" onclick="Generate('@item.guid',0)">Xem ảnh QR Code (quét thử)</a>
                }
                else
                {
                    <a href="#" onclick="Generate('@item.guid',1)">Chọn 1 ảnh QR Code (quét thử)</a>
                }
            </td>
            <td>
                @if (item.from_stt == item.to_stt)
                {
                    <a href="#" onclick="Undo('@item.guid',0)">Phục hồi quét thử</a>
                }
                else
                {
                    <a href="#" onclick="Undo('@item.guid',1)">Chọn mã để phục hồi quét thử</a>
                }
            </td>
            <td><a href="#" onclick="Generate('@item.guid',0)">Xóa Khối Này</a></td>
        </tr>
    }
</table>
@*@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("CompanyQrCode", new { page }))*@
<ul class="pagination pagination-lg">
    <li><a href="#">Trang:</a></li>
    @{ int maxPage = ViewBag.PageCount > 5 ? 5 : ViewBag.PageCount;}
    @for (int i = 1; i <= maxPage; i++)
    {
        if (i != ViewBag.page)
        {
            <text>
                <li><a href="/Admin/CompanyQrCode?code_company=@ViewBag.code_company&id_partner=@ViewBag.id_partner&ffrom=@ViewBag.ffrom&tto=@ViewBag.tto&page=@i">@i</a></li></text>
        }
        else
        {
            <text>
                <li><a href="/Admin/CompanyQrCode?code_company=@ViewBag.code_company&id_partner=@ViewBag.id_partner&ffrom=@ViewBag.ffrom&tto=@ViewBag.tto&page=@i" class="active" style="background-color: #c52d2f;border-color: #c52d2f;color:#fff;">@i</a></li></text>
        }
    }
    @{
        int page = ViewBag.page;
        int nextpage = page + 1;
        <text>
            <li><a href="/Admin/CompanyQrCode?code_company=@ViewBag.code_company&id_partner=@ViewBag.id_partner&ffrom=@ViewBag.ffrom&tto=@ViewBag.tto&page=@nextpage">Trang tiếp</a></li>
            <li>...</li>
            <li><a href="/Admin/CompanyQrCode?code_company=@ViewBag.code_company&id_partner=@ViewBag.id_partner&ffrom=@ViewBag.ffrom&tto=@ViewBag.tto&page=@ViewBag.PageCount">Trang cuối</a></li>
        </text>
    }
</ul><!--/.pagination-->
<script>
    function setidpartner() {
        $("#cp_id_partner").val($("#cp_partner").val());
    }
    function updateProduct() {
        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }

        $('#DialogProduct').show();
        $('#sl_product').html('');
        $.ajax({
            url: "/Admin/getjsonproductcompany", type: 'post',
            data: {
                code_company: $("#cp_code_company").val()
            },
            success: function (rs) {
                //alert(rs);
                var jsonData = JSON.parse(rs);
                for (var i = 0; i < jsonData.length; i++) {
                    //var counter = jsonData[i];
                    $('#sl_product').append('<option value=' + jsonData[i].id + '>' + jsonData[i].value+ '</option>');
                    //console.log(counter.counter_name);
                }
            }
        });

    }
    function updateWinning() {
        
        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }

        $('#DialogWinning').show();
        $('#sl_winning').html('');
        $.ajax({
            url: "/Admin/getjsonwinningcompany", type: 'post',
            data: {
                code_company: $("#cp_code_company").val()
            },
            success: function (rs) {
                //alert(rs);
                var jsonData = JSON.parse(rs);
                for (var i = 0; i < jsonData.length; i++) {
                    //var counter = jsonData[i];
                    $('#sl_winning').append('<option value=' + jsonData[i].id + '>' + jsonData[i].value + '</option>');
                }
            }
        });

    }
    autofillpartner();
    function searchCompanyName() {
        var keyword = document.getElementById("cp_company").value;
        var urlSearch = '/Admin/getCompanyList?k=';
        $('#cp_company').autocomplete({
            source: urlSearch + keyword,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                $('#cp_code_company').val(ui.item.id);
                autofillnumber();
                autofillpartner();
                return false;
            },
            minLength: 1
        });
    }
    function searchPartnerName() {
        var keyword = document.getElementById("cp_partner").value;
        var code = document.getElementById("cp_code_company").value;
        var urlSearch = '/Admin/getPartnerList?k=';
        $('#cp_partner').autocomplete({
            source: urlSearch + keyword + "&code_company=" + code,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                $('#cp_id_partner').val(ui.item.id);
                return false;
            },
            minLength: 1
        });
    }
    function autofillnumberfrom() {
        //var keyword = document.getElementById("cp_from").value;
        var code = document.getElementById("cp_code_company").value;
        var urlSearch = '/Admin/getfromandto?type=0';
        $('#cp_from').autocomplete({
            source: urlSearch + "&code_company=" + code,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    }
    function autofillnumberto() {
        var code = document.getElementById("cp_code_company").value;
        var urlSearch = '/Admin/getfromandto?type=1';
        $('#cp_to').autocomplete({
            source: urlSearch + "&code_company=" + code,
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    }
    function autofillnumber() {
        $.ajax({
            url: "/Admin/getmaxsttfromcompany", type: 'post',
            data: {
                code_company: $("#cp_code_company").val()
            },
            success: function (rs) {
                //alert(rs);
                if (rs == 0) rs = 1;
                $('#cp_from').val(rs);

            }
        });
    }
    function autofillpartner(val) {
        $.ajax({
            url: "/Admin/getautofillpartner", type: 'get',
            data: {
                code_company: $("#cp_code_company").val()
            },
            success: function (rs) {
                //alert(rs);
                var json = $.parseJSON(rs);
                if (json.length > 0) {
                    $("#cp_partner").html("");
                    for (var i = 0; i < json.length; ++i) {
                        //var num = json[i].to_sn - json[i].from_sn + 1;
                        $("#cp_partner").append("<option value=\"" + json[i].id + "\">" + json[i].name + "</option>");
                        //alert(json[i].name);
                    }
                    $("#cp_partner").val(val);
                    if (val == null || val == "") {
                        if ("@ViewBag.id_partner" != "") {
                            $("#cp_id_partner").val("@ViewBag.id_partner");
                            $("#cp_partner").val("@Html.Raw(ViewBag.partner)");
                        } else {
                            $("#cp_partner").val(json[0].name);
                            $("#cp_id_partner").val(json[0].id);
                        }
                    } else {
                        if ("@ViewBag.id_partner" != "") {
                            $("#cp_id_partner").val("@ViewBag.id_partner");
                            $("#cp_partner").val("@Html.Raw(ViewBag.partner)");
                        }
                        else {
                            $("#cp_partner").val(json[0].name);
                            $("#cp_id_partner").val(json[0].id);
                        }
                    }
                }
            }
        });
    }
    function saveCompanyQrCode() {
        var parter_text = $("#cp_partner option:selected").text();

        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        if ($("#cp_id_partner").val() == "") {
            alert("Nhập nhà phân phối!");
            return;
        }
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }
        $("#load").html("<img src=\"/Images/loader.gif\"><h1>ĐANG SINH QR CODE PHỦ CÀO, XIN CHỜ.......</h1>");
        $.ajax({
            url: "/Admin/generateQrCodeCompany", type: 'post',
            data: {
                code_company: $("#cp_code_company").val(), company: $("#cp_company").val(), partner: parter_text, id_partner: $("#cp_id_partner").val(), ffrom: $("#cp_from").val(), tto: $("#cp_to").val()
            },
            success: function (rs) {
                alert(rs);
                location.reload();
            }
         });
    }
    function confirmUpdateProduct() {
        $.ajax({
            url: "/Admin/confirmUpdateProduct", type: 'post',
            data: {
                code_company: $("#cp_code_company").val(), ffrom: $("#cp_from").val(), tto: $("#cp_to").val(), id_config_app: $("#sl_product").val()
            },
            success: function (rs) {
                if (rs=="1")
                alert("Cập nhật thành công");
                location.reload();
            }
        });
    }
    function confirmUpdateWinning() {
        $.ajax({
            url: "/Admin/confirmUpdateWinning", type: 'post',
            data: {
                code_company: $("#cp_code_company").val(), ffrom: $("#cp_from").val(), tto: $("#cp_to").val(), winning_id: $("#sl_winning").val()
            },
            success: function (rs) {
                if (rs == "1") {
                    alert("Cập nhật thành công");
                    location.reload();
                } else {
                    alert("Cập nhật chưa thành công, bạn xem lại các thông số");
                }
            }
        });
    }
    function getTextInQrCode(id_config_app, code_company) {
        $('#DialogTextQrCode').show();
        $.ajax({
            url: "/Admin/getTextInQrCode", type: 'get',
            data: {
                code_company: code_company, id_config_app: id_config_app
            },
            success: function (rs) {
                $('#TextQrCode').html(rs);
            }
        });
    }
    function exportCompanyQrCode() {
        var parter_text = $("#cp_partner option:selected").text();
        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        if ($("#cp_id_partner").val() == "" || $("#cp_id_partner").val() == "0" || parter_text=="") {
            alert("Nhập nhà phân phối!");
            return;
        }
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }
        $("#load").html("<img src=\"/Images/loader.gif\"><h1>ĐANG TẠO FILE EXCEL, XIN CHỜ.......</h1>");
        var url = "/Admin/exportCompanyQrCode?code_company=" + $("#cp_code_company").val() + "&company=" + $("#cp_company").val() + "&partner=" + parter_text + "&id_partner=" + $("#cp_id_partner").val() + "&ffrom=" + $("#cp_from").val() + "&tto=" + $("#cp_to").val();
        window.open(url, "_blank");
    }
    function searchCompanyQrCode() {
        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        //if ($("#cp_id_partner").val() == "") {
        //    alert("Nhập nhà phân phối!");
        //    return;
        //}
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }
        var url = "/Admin/CompanyQrCode?code_company=" + $("#cp_code_company").val() + "&company=" + $("#cp_company").val() + "&partner=" + $("#cp_partner").val() + "&id_partner=" + $("#cp_id_partner").val() + "&ffrom=" + $("#cp_from").val() + "&tto=" + $("#cp_to").val();
        window.location.href = url;
    }
    function cancelCompanyQrCode() {
        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        if ($("#cp_id_partner").val() == "") {
            alert("Nhập nhà phân phối!");
            return;
        }
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }
        $("#load").html("<img src=\"/Images/loader.gif\"><h1>ĐANG HỦY QR CODE PHỦ CÀO, XIN CHỜ.......</h1>");
        $.ajax({
            url: "/Admin/cancelCompanyQrCode", type: 'post',
            data: {
                code_company: $("#cp_code_company").val(), company: $("#cp_company").val(), partner: $("#cp_partner").val(), id_partner: $("#cp_id_partner").val(), ffrom: $("#cp_from").val(), tto: $("#cp_to").val()
            },
            success: function (rs) {
                alert(rs);
                location.reload();
            }
        });
    }
    function delCompanyQrCode() {
        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        if ($("#cp_id_partner").val() == "") {
            alert("Nhập nhà phân phối!");
            return;
        }
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }
        var r = confirm("Bạn có chắc chắn xóa?");
        if (r == true) {
            $("#load").html("<img src=\"/Images/loader.gif\"><h1>ĐANG XÓA QR CODE PHỦ CÀO, XIN CHỜ.......</h1>");
            $.ajax({
                url: "/Admin/delCompanyQrCode", type: 'post',
                data: {
                    code_company: $("#cp_code_company").val(), company: $("#cp_company").val(), partner: $("#cp_partner").val(), id_partner: $("#cp_id_partner").val(), ffrom: $("#cp_from").val(), tto: $("#cp_to").val()
                },
                success: function (rs) {
                    alert(rs);
                    location.reload();
                }
            });
        }
    }
    function updateCompanyQrCode() {
        var parter_text = $("#cp_partner option:selected").text();
        //alert(parter_text);
        //return;
        if ($("#cp_code_company").val() == "") {
            alert("Nhập doanh nghiệp!");
            return;
        }
        if ($("#cp_id_partner").val() == "") {
            alert("Nhập nhà phân phối!");
            return;
        }
        if ($("#cp_from").val() == "") {
            alert("Nhập từ số thứ tự!");
            return;
        }
        if ($("#cp_to").val() == "") {
            alert("Nhập đến số thứ tự!");
            return;
        }
        var r = confirm("Bạn có chắc chắn cập nhật. Lưu ý: Ví dụ nếu đã có khối từ 500 đến 1000, ta chỉ có thể chia thành từ 500 đến <1000 hoặc từ >500 đến 1000 chứ không cắt ở giữa khối. Tức nếu chia 550 đến 775 là vi phạm sự liên tục!");
        if (r == true) {
            $("#load").html("<img src=\"/Images/loader.gif\"><h1>ĐANG CẬP NHẬT QR CODE PHỦ CÀO, XIN CHỜ.......</h1>");
            $.ajax({
                url: "/Admin/updateCompanyQrCode", type: 'post',
                data: {
                    code_company: $("#cp_code_company").val(), company: $("#cp_company").val(), partner: parter_text, id_partner: $("#cp_id_partner").val(), ffrom: $("#cp_from").val(), tto: $("#cp_to").val()
                },
                success: function (rs) {
                    alert(rs);
                    location.reload();
                }
            });
        }
    }
    function Generate(guid, type) {
        if (type == 1) {
            var stt = prompt("Nhập số thứ tự", "");
            if (stt != null && stt != "") {
                stt = stt * 13 + 27;
                guid = guid + "-" + stt;
            }
        }
        $("#DialogImage").show();
        $("#qrcodeload").attr("src", "/Images/loader.gif");
        $("#qrcodeloadtext").html("Mã guid là "+guid);
        $.ajax({
            url: "/Admin/generateCode", type: 'post',
            data: {
                content: guid
            },
            success: function (rs) {
                //alert(rs);
                $("#qrcodeload").attr("src", rs);
            }
        });
    }
    function Undo(guid, stype) {
        var num = 0;
        var sguid = guid;
        if (stype == 1) {
            var stt = prompt("Nhập số thứ tự", "");
            if (stt != null && stt != "") {
                num=stt;
                stt = stt * 13 + 27;
                guid = guid + "-" + stt;
            }
        }
        $.ajax({
            url: "/Admin/UndoQrCode", type: 'post',
            data: {
                guid: guid, stt: num,sguid:sguid
            },
            success: function (rs) {
                if (rs == "1") {
                    alert("Phục hồi thành công!");
                } else {
                    alert("Không tồn tại mã guid là: " + guid);
                }
            }
        });
    }
</script>