@using PagedList.Mvc;
@using PagedList;
@using API.Models;
@{
    ViewBag.Title = "Lịch Sử Voucher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewBag.Title</h2>
<div class="panel-heading">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" id="keyword" class="form-control" placeholder="Nhập số điện thoại hoặc email, tên..." value="@ViewBag.k" style="width:360px;" />
            <button onclick="searchWin();" class="btn-default btn-info">Tìm Kiếm</button>
        </div>
    </div>
</div>
<table class="table marginBottom0">
    <tr><th>Tên Voucher</th><th>Công ty/Nhà phân phối</th><th>Thông tin khách hàng</th><th>Thời gian/Địa điểm</th><th></th></tr>
    @foreach (var item in (PagedList<voucher_log>)ViewBag.OnePage)
    {

        <tr>
            <td>
                @item.voucher_name<br />
                Số điểm @string.Format("{0:n0}", @item.points) đ<br />               
            </td>
            <td>
                Doanh nghiệp sở hữu: @item.company<br />
            </td>
            <td>
                Tên khách hàng: @item.user_name<br />
                Số điện thoại: @item.user_phone<br />
                Email: @item.user_email
            </td>
            <td>Lúc @item.date_time<br /> tại @item.address</td>
            <td>
                @if (item.is_received == null || item.is_received == 0)
                {
                    <a href="#" onclick="confirmVoucher(@item.id);">Xác nhận đã đổi điểm</a>
                }
                else
                {
                    <p>Đã đổi điểm</p>
                }
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePage, page => Url.Action("HistoryVoucher", new { page }))

<script>
    function searchWin(id, val) {
        window.location.href = "/Admin/HistoryVoucher?k=" + $("#keyword").val();
    }
    function confirmVoucher(id) {
        var result = confirm("Bạn có chắc chắn người này đã đổi điểm?");
        if (result) {
            $.ajax({
                url: "/Admin/confirmReceivedVoucher", type: 'post',
                data: { id: id },
                success: function (rs) {
                    if (rs == '1') {
                        alert("Đã xác nhận đổi điểm");
                        location.reload();
                    } else {
                        alert(rs);
                    }
                }
            });
        }
    }
</script>